@page "/about"

<h2>Mark Kennedy</h2>
<h4>This application is submitted as the JHA Coding Challenge</h4>
<h5>February 2023</h5>
<h5></h5>

<br />
It is written in ASP.NET Core Blazor. It was built with Visual Studio 2022 and .NET 6.

<br />
<br />
<a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">More about ASP.NET Core</a>


@code
{

}
