@page "/"

<h1>Get Twiiter Samples</h1>
<h4>JHA Coding Challenge</h4>
<br />

This application will demonstrate accessing the public Rest APIs from Twitter.
<br />
<br />
<br />

The first API accessed is <a href="https://developer.twitter.com/en/docs/twitter-api">Twitter</a>. This returns sampling data.


@code
{
}